IOT/Software/Node-RED/TestRun Sensor array.txt
[{"id":"30e940c4.1b63","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d5df712.a7e919","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"43603275.e4cb6c","order":5,"width":"14","height":"9","label":"Airpressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"97000","ymax":"105000","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1020,"wires":[[]]},{"id":"cc1baef5.eb0a5","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"43603275.e4cb6c","order":7,"width":"14","height":"9","label":"Hum.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":640,"wires":[[]]},{"id":"3b5d7997.bc08e6","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"43603275.e4cb6c","order":8,"width":"14","height":"9","label":"Temp.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":440,"wires":[[]]},{"id":"eafaeefb.43145","type":"mqtt in","z":"30e940c4.1b63","name":"","topic":"bhive/temp","qos":"2","broker":"a61b8db8.a211a","x":180,"y":440,"wires":[["3b5d7997.bc08e6","2f46f876.5bef88","4e13cf86.f7cd9","a93115d.ad9b7e8","a960bdbd.022aa"]]},{"id":"80180ca3.c0f33","type":"mqtt in","z":"30e940c4.1b63","name":"","topic":"bhive/hum","qos":"2","broker":"a61b8db8.a211a","x":180,"y":640,"wires":[["cc1baef5.eb0a5","220988b0.b4ea28","966834c.9673ec8","981c5ef2.64802"]]},{"id":"c9f62597.0d5dc8","type":"mqtt in","z":"30e940c4.1b63","name":"","topic":"bhive/airq","qos":"2","broker":"a61b8db8.a211a","x":180,"y":840,"wires":[["4224a48f.a2e68c","5c4f7b85.ea7434","22b0ed2f.7d8642"]]},{"id":"b52a3b22.8415f8","type":"mqtt in","z":"30e940c4.1b63","name":"","topic":"bhive/airp","qos":"2","broker":"a61b8db8.a211a","x":180,"y":1020,"wires":[["1d5df712.a7e919","ad3d85d2.906178","1eb9aeac.d9dd11","d87b5875.9538d8"]]},{"id":"2f46f876.5bef88","type":"ui_gauge","z":"30e940c4.1b63","name":"","group":"fa72e72e.7688d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"220988b0.b4ea28","type":"ui_gauge","z":"30e940c4.1b63","name":"","group":"fa72e72e.7688d8","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":600,"wires":[]},{"id":"c13e63e0.3d396","type":"ui_text","z":"30e940c4.1b63","group":"4986d810.613ff8","order":0,"width":0,"height":0,"name":"","label":"Please wait...","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":200,"wires":[]},{"id":"8e838e1c.8187e","type":"ui_text","z":"30e940c4.1b63","group":"bc4a12d7.74e92","order":0,"width":0,"height":0,"name":"","label":"Please wait...","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"a40c0d8f.182be","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":1060,"wires":[[]]},{"id":"4a97b470.7f7cac","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":880,"wires":[[]]},{"id":"4a1077b1.e41588","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":680,"wires":[[]]},{"id":"d6434b8b.86d058","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":480,"wires":[[]]},{"id":"ad3d85d2.906178","type":"function","z":"30e940c4.1b63","name":"Insert airp","func":"msg.topic=\"INSERT INTO airp (airp) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1060,"wires":[["a40c0d8f.182be"]]},{"id":"dc8703f6.950fa","type":"function","z":"30e940c4.1b63","name":"Insert airq","func":"msg.topic=\"INSERT INTO airq (airq) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["4a97b470.7f7cac"]]},{"id":"966834c.9673ec8","type":"function","z":"30e940c4.1b63","name":"Insert hum","func":"msg.topic=\"INSERT INTO hum (hum) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["4a1077b1.e41588"]]},{"id":"4e13cf86.f7cd9","type":"function","z":"30e940c4.1b63","name":"Insert temp","func":"msg.topic=\"INSERT INTO temp (temp) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["d6434b8b.86d058"]]},{"id":"7a6ab64e.557ef8","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":740,"wires":[["67979178.fbaa2"]]},{"id":"1481402b.a5391","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":1120,"wires":[["b849513c.7fabf"]]},{"id":"322c3922.e784c6","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":940,"wires":[["12648383.84530c"]]},{"id":"981c5ef2.64802","type":"function","z":"30e940c4.1b63","name":"Get hum","func":"msg.topic=\"SELECT hum,date from hum order by date desc limit 20;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["7a6ab64e.557ef8"]]},{"id":"1eb9aeac.d9dd11","type":"function","z":"30e940c4.1b63","name":"Get airp","func":"msg.topic=\"SELECT airp,date from airp order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1120,"wires":[["1481402b.a5391"]]},{"id":"4224a48f.a2e68c","type":"function","z":"30e940c4.1b63","name":"Get airq","func":"msg.topic=\"SELECT airq,date from airq order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":940,"wires":[["322c3922.e784c6"]]},{"id":"a2b2c6fe.fb3cc8","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"460de778.3fa808","order":6,"width":"14","height":"9","label":"Airquality","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":940,"wires":[[]]},{"id":"9c8a0c98.b7be7","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"460de778.3fa808","order":5,"width":"14","height":"9","label":"Airpressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":1120,"wires":[[]]},{"id":"57ad0ec7.c1777","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"460de778.3fa808","order":7,"width":"14","height":"9","label":"Hum.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":740,"wires":[[]]},{"id":"6355dc52.ddb054","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"460de778.3fa808","order":8,"width":"14","height":"9","label":"Temp.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":540,"wires":[[]]},{"id":"61fbaaf4.b5db74","type":"mysql","z":"30e940c4.1b63","mydb":"45c13944.543c78","name":"","x":670,"y":540,"wires":[["1ce4f88b.186bb7"]]},{"id":"a93115d.ad9b7e8","type":"function","z":"30e940c4.1b63","name":"Get temp","func":"msg.topic=\"SELECT temp,date from temp order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["61fbaaf4.b5db74"]]},{"id":"67979178.fbaa2","type":"function","z":"30e940c4.1b63","name":"Format data hum","func":"var series =[\"Hum\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].hum)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["57ad0ec7.c1777"]]},{"id":"b849513c.7fabf","type":"function","z":"30e940c4.1b63","name":"Format data airp","func":"var series =[\"airp\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].airp)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1120,"wires":[["9c8a0c98.b7be7"]]},{"id":"12648383.84530c","type":"function","z":"30e940c4.1b63","name":"Format data airq","func":"var series =[\"airq\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].airq)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":940,"wires":[["a2b2c6fe.fb3cc8"]]},{"id":"1ce4f88b.186bb7","type":"function","z":"30e940c4.1b63","name":"Format data temp","func":"var series =[\"temp\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].temp)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["6355dc52.ddb054"]]},{"id":"b6edd0e3.30b1c","type":"comment","z":"30e940c4.1b63","name":"Placeholder","info":"Placeholders","x":450,"y":140,"wires":[]},{"id":"4c9d775b.d72868","type":"comment","z":"30e940c4.1b63","name":"Genereer website en importeer data","info":"Placeholders","x":520,"y":360,"wires":[]},{"id":"e12bbc6e.ab3a9","type":"inject","z":"30e940c4.1b63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":540,"wires":[["a93115d.ad9b7e8"]]},{"id":"9b9fe8d.05e0818","type":"inject","z":"30e940c4.1b63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":740,"wires":[["981c5ef2.64802"]]},{"id":"4dd6cb85.ebbd14","type":"inject","z":"30e940c4.1b63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":940,"wires":[["4224a48f.a2e68c"]]},{"id":"1646d31e.dade1d","type":"inject","z":"30e940c4.1b63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1120,"wires":[["1eb9aeac.d9dd11"]]},{"id":"a960bdbd.022aa","type":"debug","z":"30e940c4.1b63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":320,"wires":[]},{"id":"5c4f7b85.ea7434","type":"ui_chart","z":"30e940c4.1b63","name":"","group":"43603275.e4cb6c","order":8,"width":"14","height":"9","label":"AirQ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":840,"wires":[[]]},{"id":"22b0ed2f.7d8642","type":"ui_gauge","z":"30e940c4.1b63","name":"","group":"fa72e72e.7688d8","order":0,"width":0,"height":0,"gtype":"gage","title":"AirQ","label":"units","format":"{{value}}","min":"10000","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":800,"wires":[]},{"id":"d87b5875.9538d8","type":"ui_gauge","z":"30e940c4.1b63","name":"","group":"fa72e72e.7688d8","order":0,"width":0,"height":0,"gtype":"gage","title":"AirP","label":"units","format":"{{value}}","min":"90500","max":"105000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":980,"wires":[]},{"id":"43603275.e4cb6c","type":"ui_group","z":"","name":"Monitoring","tab":"f34fb9e5.ea0b68","order":2,"disp":true,"width":"14","collapse":true},{"id":"a61b8db8.a211a","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.143","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa72e72e.7688d8","type":"ui_group","z":"","name":"Current","tab":"f34fb9e5.ea0b68","order":1,"disp":true,"width":"6","collapse":true},{"id":"4986d810.613ff8","type":"ui_group","z":"","name":"Please wait...","tab":"f8dce521.6ce4f8","disp":true,"width":"6","collapse":false},{"id":"bc4a12d7.74e92","type":"ui_group","z":"","name":"Please wait...","tab":"3d0d116c.0b2c8e","order":1,"disp":true,"width":"6","collapse":false},{"id":"45c13944.543c78","type":"MySQLdatabase","z":"","host":"remotemysql.com","port":"3306","db":"MxTDi31Cf4","tz":""},{"id":"460de778.3fa808","type":"ui_group","z":"","name":"Monitoring","tab":"d623b9dc.557c68","disp":true,"width":"17","collapse":false},{"id":"f34fb9e5.ea0b68","type":"ui_tab","z":"","name":"Beehive IOT","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f8dce521.6ce4f8","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3d0d116c.0b2c8e","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d623b9dc.557c68","type":"ui_tab","z":"","name":"Long term data","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
