IOT/Software/Node-RED/TestRun Sensor array.txt
[{"id":"d69a4322.ee701","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a98618e.1cb2d","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"e387b4.7469885","order":5,"width":"14","height":"10","label":"Airpressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"97000","ymax":"105000","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1020,"wires":[[]]},{"id":"967413c6.3949c","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"e387b4.7469885","order":7,"width":"7","height":"7","label":"Hum.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":640,"wires":[[]]},{"id":"61245b5d.400a54","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"e387b4.7469885","order":8,"width":"7","height":"7","label":"Temp.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":440,"wires":[[]]},{"id":"951eca21.b11858","type":"mqtt in","z":"d69a4322.ee701","name":"","topic":"bhive/temp","qos":"2","broker":"3c1f8af8.6775f6","x":180,"y":440,"wires":[["61245b5d.400a54","48fc0337.b8c50c","23c32b7c.f69334","89a20ff3.1088f","b15315aa.e6af48"]]},{"id":"6defc114.bad61","type":"mqtt in","z":"d69a4322.ee701","name":"","topic":"bhive/hum","qos":"2","broker":"3c1f8af8.6775f6","x":180,"y":640,"wires":[["967413c6.3949c","d9e0ff5.4dfac","7778a0fe.733a6","8e8545c4.9fd7f8"]]},{"id":"28ed5ade.00c956","type":"mqtt in","z":"d69a4322.ee701","name":"","topic":"bhive/airq","qos":"2","broker":"3c1f8af8.6775f6","x":180,"y":840,"wires":[["b7129b0c.efb798","35a9149c.338b1c"]]},{"id":"94596f2e.b0565","type":"mqtt in","z":"d69a4322.ee701","name":"","topic":"bhive/airp","qos":"2","broker":"3c1f8af8.6775f6","x":180,"y":1020,"wires":[["5a98618e.1cb2d","2cccd9bd.042d86","bfc4a35d.44f01"]]},{"id":"48fc0337.b8c50c","type":"ui_gauge","z":"d69a4322.ee701","name":"","group":"3bf944bd.edd14c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"d9e0ff5.4dfac","type":"ui_gauge","z":"d69a4322.ee701","name":"","group":"3bf944bd.edd14c","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":600,"wires":[]},{"id":"4ff28842.227c38","type":"ui_text","z":"d69a4322.ee701","group":"a44b14ca.64a7f8","order":0,"width":0,"height":0,"name":"","label":"Please wait...","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":100,"wires":[]},{"id":"60619cbe.696a14","type":"ui_text","z":"d69a4322.ee701","group":"6f7e6831.10fe88","order":0,"width":0,"height":0,"name":"","label":"Please wait...","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":140,"wires":[]},{"id":"1b4f06d8.f6a909","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":1060,"wires":[[]]},{"id":"1c439898.aae517","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":880,"wires":[[]]},{"id":"9244f52a.fe8cc8","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":680,"wires":[[]]},{"id":"81ca3cba.44cf4","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":480,"wires":[[]]},{"id":"2cccd9bd.042d86","type":"function","z":"d69a4322.ee701","name":"Insert airp","func":"msg.topic=\"INSERT INTO airp (airp) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1060,"wires":[["1b4f06d8.f6a909"]]},{"id":"eab6ee4d.d8b13","type":"function","z":"d69a4322.ee701","name":"Insert airq","func":"msg.topic=\"INSERT INTO airq (airq) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["1c439898.aae517"]]},{"id":"7778a0fe.733a6","type":"function","z":"d69a4322.ee701","name":"Insert hum","func":"msg.topic=\"INSERT INTO hum (hum) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["9244f52a.fe8cc8"]]},{"id":"23c32b7c.f69334","type":"function","z":"d69a4322.ee701","name":"Insert temp","func":"msg.topic=\"INSERT INTO temp (temp) VALUES (\"+msg.payload+\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["81ca3cba.44cf4"]]},{"id":"1a92c1bf.54074e","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":740,"wires":[["655371f7.18b14"]]},{"id":"4c451fac.8e0df","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":1120,"wires":[["2f8c71c0.2d075e"]]},{"id":"9fc3b442.0e7668","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":940,"wires":[["89ec4035.4842c"]]},{"id":"8e8545c4.9fd7f8","type":"function","z":"d69a4322.ee701","name":"Get hum","func":"msg.topic=\"SELECT hum,date from hum order by date desc limit 20;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["1a92c1bf.54074e"]]},{"id":"bfc4a35d.44f01","type":"function","z":"d69a4322.ee701","name":"Get airp","func":"msg.topic=\"SELECT airp,date from airp order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":1120,"wires":[["4c451fac.8e0df"]]},{"id":"b7129b0c.efb798","type":"function","z":"d69a4322.ee701","name":"Get airq","func":"msg.topic=\"SELECT airq,date from airq order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":940,"wires":[["9fc3b442.0e7668"]]},{"id":"c0e8b22.cfe465","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"fe5b462f.84e0a8","order":6,"width":"10","height":"12","label":"Airquality","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":940,"wires":[[]]},{"id":"83c7f5f0.c00ed8","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"fe5b462f.84e0a8","order":5,"width":"7","height":"4","label":"Airpressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":1120,"wires":[[]]},{"id":"5ca35e67.daf68","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"fe5b462f.84e0a8","order":7,"width":"7","height":"4","label":"Hum.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":740,"wires":[[]]},{"id":"83e2be67.f9ef3","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"fe5b462f.84e0a8","order":8,"width":"7","height":"4","label":"Temp.","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":540,"wires":[[]]},{"id":"f30d9c58.a51a1","type":"mysql","z":"d69a4322.ee701","mydb":"8bf51492.080e38","name":"","x":670,"y":540,"wires":[["655a34a2.18a90c"]]},{"id":"89a20ff3.1088f","type":"function","z":"d69a4322.ee701","name":"Get temp","func":"msg.topic=\"SELECT temp,date from temp order by date desc limit 20\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["f30d9c58.a51a1"]]},{"id":"655371f7.18b14","type":"function","z":"d69a4322.ee701","name":"Format data hum","func":"var series =[\"Hum\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].hum)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["5ca35e67.daf68"]]},{"id":"2f8c71c0.2d075e","type":"function","z":"d69a4322.ee701","name":"Format data airp","func":"var series =[\"airp\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].airp)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1120,"wires":[["83c7f5f0.c00ed8"]]},{"id":"89ec4035.4842c","type":"function","z":"d69a4322.ee701","name":"Format data airq","func":"var series =[\"airq\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].airq)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":940,"wires":[["c0e8b22.cfe465"]]},{"id":"655a34a2.18a90c","type":"function","z":"d69a4322.ee701","name":"Format data temp","func":"var series =[\"temp\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\":Date.parse(msg.payload[i].date) + 2*60*60, \"y\":Number(msg.payload[i].temp)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["83e2be67.f9ef3"]]},{"id":"54412458.23a38c","type":"comment","z":"d69a4322.ee701","name":"Placeholder","info":"Placeholders","x":830,"y":40,"wires":[]},{"id":"875fe992.8473b8","type":"comment","z":"d69a4322.ee701","name":"Genereer website en importeer data","info":"Placeholders","x":520,"y":360,"wires":[]},{"id":"32fd540d.7879bc","type":"inject","z":"d69a4322.ee701","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":540,"wires":[["89a20ff3.1088f"]]},{"id":"a774fc1c.463ad","type":"inject","z":"d69a4322.ee701","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":740,"wires":[["8e8545c4.9fd7f8"]]},{"id":"88757f6f.74f7","type":"inject","z":"d69a4322.ee701","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":940,"wires":[["b7129b0c.efb798"]]},{"id":"9e41af62.e235b","type":"inject","z":"d69a4322.ee701","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1120,"wires":[["bfc4a35d.44f01"]]},{"id":"b15315aa.e6af48","type":"debug","z":"d69a4322.ee701","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":320,"wires":[]},{"id":"35a9149c.338b1c","type":"ui_chart","z":"d69a4322.ee701","name":"","group":"e387b4.7469885","order":8,"width":"14","height":"7","label":"AirQ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":840,"wires":[[]]},{"id":"e387b4.7469885","type":"ui_group","z":"","name":"Monitoring","tab":"2c5129e1.532716","order":2,"disp":true,"width":"14","collapse":true},{"id":"3c1f8af8.6775f6","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.143","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bf944bd.edd14c","type":"ui_group","z":"","name":"Current","tab":"2c5129e1.532716","order":1,"disp":true,"width":"6","collapse":true},{"id":"a44b14ca.64a7f8","type":"ui_group","z":"","name":"Please wait...","tab":"ea2d6e45.ace6e","disp":true,"width":"6","collapse":false},{"id":"6f7e6831.10fe88","type":"ui_group","z":"","name":"Please wait...","tab":"5d5a3962.fec0e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bf51492.080e38","type":"MySQLdatabase","z":"","host":"remotemysql.com","port":"3306","db":"MxTDi31Cf4","tz":""},{"id":"fe5b462f.84e0a8","type":"ui_group","z":"","name":"Monitoring","tab":"8de3ead0.8684b8","disp":true,"width":"17","collapse":false},{"id":"2c5129e1.532716","type":"ui_tab","z":"","name":"Beehive IOT","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ea2d6e45.ace6e","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5d5a3962.fec0e8","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8de3ead0.8684b8","type":"ui_tab","z":"","name":"Long term data","icon":"dashboard","order":4,"disabled":false,"hidden":false}]